
{% extends "../base.html" %}

{% block content %}

<br>

<div class="container text-center bg-white" style="border-radius: 20px; width:500px;">

    <br>

    <h4> Send a donation </h4>

    <i class="fa fa-child fa-2x" aria-hidden="true"></i>

    <br>

    <p> Charity fun run! </p>

    <hr>

    <i class="fa fa-heart fa-3x text-danger" aria-hidden="true"></i>

    <hr>

    <p> Feel free to send a $10 donation. </p>

    <hr>

    {{ paypal_form.render }}

    <br>

    <button id="stripe-checkout" type="submit" class="btn btn-info text-white w-75">

        <i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp; Pay with Stripe


    </button>

    <br><br> 

</div>

<!-- Stripe JS #1 -->

<script src="https://js.stripe.com/v3/"></script>


<!-- Stripe JS #2-->

<script>

    var stripe_public_key = Stripe('{{ stripe_public_key }}');

    const pay_now_button = document.querySelector('#stripe-checkout');


    pay_now_button.addEventListener('click', event =>{


        stripe_public_key.redirectToCheckout({

            sessionId: '{{ session_id }}'


        }).then(function(result){



        });



    })








</script>



{% endblock %}


